# Dependencies
/node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
/build
/dist 
certs1/192.168.0.104-key.pem
certs1/192.168.0.104.pem
package-lock.json
